{% extends 'base.html' %}

{% block title %}
 UAE Amazon seller fee calculator
{% endblock %}

{% block content %}

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark" style="color:white">
            <h1 class="display-6 font-weight-normal">Amazon profit calculator</h1>
        <body class="text-center">
        <div class="row" style="margin-top:40px; margin-left:20px">
            <div class="col-2"></div>
            <div class="col-8">
            <form class="pure-form" method="POST" action="/amazon">
            <input type="text"  class="form-control" placeholder="Amazon Price (Including shipping fee)" name="az_price">  <br>
            <input type="text"  class="form-control" placeholder="Our Cost (Including purchase tax) " name="cost"> <br>
            <button type="submit" class="btn btn-lg btn-block btn-primary" value="Submit">Submit</button>
                </div>
        </div>
                </body>
            </form>







    <div class="row" style="margin-top:40px; margin-left:20px">
        <div class="col-2"></div>
   <div class="col-4">
      <h2>{% if final_amount %}
            <p>{% print("Credit amount: {} AED".format(final_amount)) %}</p>
            {% endif %}</h2>
       <h2>{% if profit %}
            <p>{% print("Profit: {} AED".format(profit)) %}</p>
            {% endif %}</h2>
       {% if profit %}
            <p>{% print("Profit margin: {} %".format(pm)) %}</p>
            {% endif %}</h2>
       {% if profit %}
            <p>{% print("Possible tax refund: {} AED".format(tf)) %}</p>
            {% endif %}</h2>
   </div>
   <div class="col-4">
      <h2>Amazon charges </h2>
      <p>Referral fees = Kitchen: 12%+Tax (OR)  Home: 11%+Tax  (OR) &emsp; &emsp; &emsp; &emsp;&emsp;&emsp; Electronic appliance: 8% if >250, 13% if <250  </p>
       <p>Shipping fee = 13 AED charge + 0.65 Tax</p>
      <br>
       <br>

   </div>
</div>
</div>
<font size = "3"> NB: Retailers should make invoices with same amount delivery slip.Taxes charged by amazon for their fee can be refunded when filing VAT</font>
<br>
<br>
<font size = "2">Under UAE VAT Laws, Amazon is required to calculate and collect UAE VAT on its fees related to transactions made by sellers, such as monthly subscription and Selling on Amazon fees.
        VAT will apply depending on the type of fee being assessed and is not necessarily dependent on the VAT status of the Seller.
All fees payable by you to Amazon pursuant to the Agreement entered into are exclusive of VAT and similar taxes, and you will be required to pay any taxes that Amazon is legally obligated to charge on such amounts.
    Amazon shall provide you with a Tax Invoice for all fees and applicable VAT payable by you.<br>
Read more here: <a href="https://sellercentral.amazon.ae/help/hub/reference/G200336920">Amazon FAQ</a>, <a href="https://sellercentral.amazon.ae/help/hub/reference/201382050">Easy ship charges</a></font>










{% endblock %}